extends ribbon

block content
    h1.title Contacts
    .table
        table   
            thead
                tr
                    th Name
                    th Last name
                    th Email
                    th Phone
                    th Company
                    th
            tbody
                each contact in list
                    tr
                        td #{contact.name}
                        td #{contact.lastName}
                        td #{contact.email}
                        td #{contact.phone}
                        td #{contact.cname}
                        td 
                            a(href='/deletecontact/' + contact._id) Delete
                            br
                            a(href='/editcontact/' + contact._id) Edit
    a.add(href='/addcontact') Create new contact
    
                