extends ribbon

block content
    .form_box
        h2.form_header Signing up...
        form.form(action="/signup" method="POST")
            if(emailExists)
                p.form_error #{emailExistsMsg}
            .box
                if(errors && errors.name)
                    p.form_error #{errors.name.msg}                
                label.form_label Name
                input.form_input(placeholder="Jan" type="text" name="name" value=validated ? validated.name : '')
            .box
                if(errors && errors.lastName)
                    p.form_error #{errors.lastName.msg}
                label.form_label Last name
                input.form_input(placeholder="Kowalski" type="text" name="lastName"  value=validated ? validated.lastName : '')
            .box
                if(errors && errors.email)
                    p.form_error #{errors.email.msg}
                label.form_label Email
                input.form_input(placeholder="jan.kowalski@gmail.com" type="text" name="email" value=validated ? validated.email : '')
            .box
                if(errors && errors.password)
                    p.form_error #{errors.password.msg}
                label.form_label Set up a password
                input.form_input(placeholder="********" type="password" name="password")
            .box
                if(errors && errors.repeatPassword)
                    p.form_error #{errors.repeatPassword.msg}
                label.form_label Repeat password
                input.form_input(placeholder="********" type="password" name="repeatPassword")
            .box
                button.form_submit Sign up
            br
            a.form_signup(href="/signin") Already have an account ? Sing in !

    